<section id="gallery">
  <div class="container gallery_container">
    <h2 class="galery_title">Gallery</h2>
    <div id="slider1" class="splide" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img
              srcset="
                ./img/gallery/desktop/frame-1.png    380w,
                ./img/gallery/desktop/frame-1@2x.png 760w,
                ./img/gallery/mobile/frame-1.png     220w,
                ./img/gallery/mobile/frame-1@2x.png  440w
              "
              sizes="(min-width: 1440px) 380px, (min-width: 320px) 220px"
              src="./img/gallery/mobile/frame-1.png"
              alt="Game illustration"
              loading="lazy"
            />
          </li>
          <li class="splide__slide">
            <img
              srcset="
                ./img/gallery/desktop/frame-2.png    380w,
                ./img/gallery/desktop/frame-2@2x.png 760w,
                ./img/gallery/mobile/frame-2.png     220w,
                ./img/gallery/mobile/frame-2@2x.png  440w
              "
              sizes="(min-width: 1440px) 380px, (min-width: 320px) 220px"
              src="./img/gallery/mobile/frame-2.png"
              alt="Game illustration"
              loading="lazy"
            />
          </li>
          <li class="splide__slide">
            <img
              srcset="
                ./img/gallery/desktop/frame-3.png    380w,
                ./img/gallery/desktop/frame-3@2x.png 760w,
                ./img/gallery/mobile/frame-3.png     220w,
                ./img/gallery/mobile/frame-3@2x.png  440w
              "
              sizes="(min-width: 1440px) 380px, (min-width: 320px) 220px"
              src="./img/gallery/mobile/frame-3.png"
              alt="Game illustration"
              loading="lazy"
            />
          </li>
          <li class="splide__slide">
            <img
              srcset="
                ./img/gallery/desktop/frame-4.png    380w,
                ./img/gallery/desktop/frame-4@2x.png 760w,
                ./img/gallery/mobile/frame-4.png     220w,
                ./img/gallery/mobile/frame-4@2x.png  440w
              "
              sizes="(min-width: 1440px) 380px, (min-width: 320px) 220px"
              src="./img/gallery/mobile/frame-4.png"
              alt="Game illustration"
              loading="lazy"
            />
          </li>
          <li class="splide__slide">
            <img
              srcset="
                ./img/gallery/desktop/frame-5.png    380w,
                ./img/gallery/desktop/frame-5@2x.png 760w,
                ./img/gallery/mobile/frame-5.png     220w,
                ./img/gallery/mobile/frame-5@2x.png  440w
              "
              sizes="(min-width: 1440px) 380px, (min-width: 320px) 220px"
              src="./img/gallery/mobile/frame-5.png"
              alt="Game illustration"
              loading="lazy"
            />
          </li>
        </ul>
      </div>

      <a
        href="https://play.google.com/store/search?q=cookie+crunch+classic&c=apps&hl=pl"
        target="_blank"
        ><button class="galery_btn" type="button">Download Now</button></a
      >
    </div>
  </div>
</section>
