<header class="header">
  <div class="header_container">
    <div class="header_content">
      <img
        src="/img/logo.png"
        alt="Logo"
        srcset="/img/logo.png 1x, /img/logo@2x.png 2x"
        width="62"
        height="62"
      />
      <h2 class="header_game_title">Cookie Crunch Classic</h2>
    </div>
    <div class="nav_container">
      <nav>
        <ul class="nav_list">
          <li><a href="/cookie-crunch-classic">Home</a></li>
          <li><a href="/cookie-crunch-classic#benefits">Benefits</a></li>
          <li><a href="/cookie-crunch-classic#about">About</a></li>
          <li><a href="/cookie-crunch-classic#faq">FAQ</a></li>
          <li><a href="/cookie-crunch-classic#how-to-play">How to play</a></li>
          <li><a href="/cookie-crunch-classic#advantages">Advantages</a></li>
          <li><a href="/cookie-crunch-classic#gallery">Gallery</a></li>
        </ul>
      </nav>
    </div>
    <nav>
      <ul class="menu">
        <li><a class="menuItem" href="/cookie-crunch-classic">Home</a></li>
        <li>
          <a class="menuItem" href="/cookie-crunch-classic#benefits"
            >Benefits</a
          >
        </li>
        <li>
          <a class="menuItem" href="/cookie-crunch-classic#about">About</a>
        </li>
        <li><a class="menuItem" href="/cookie-crunch-classic#faq">FAQ</a></li>
        <li>
          <a class="menuItem" href="/cookie-crunch-classic#how-to-play"
            >How to play</a
          >
        </li>
        <li>
          <a class="menuItem" href="/cookie-crunch-classic#advantages"
            >Advantages</a
          >
        </li>
        <li>
          <a class="menuItem" href="/cookie-crunch-classic#gallery">Gallery</a>
        </li>
      </ul>
    </nav>

    <button class="hamburger" onclick="toggleMenu()">
      <svg class="menuIcon">
        <use href="/img/svg/symbol-defs.svg#icon-burger"></use>
      </svg>
      <svg class="closeIcon hidden">
        <use href="/img/svg/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="overlay hidden"></div>
    <div></div>

    <!-- <script type="module" src="../JS/burger.js"></script> -->
  </div>
</header>
