.about-section {
  overflow-x: hidden;

  @include media(desktop) {
    overflow-x: visible;
  }
}

.about__container {
  position: relative;

  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    align-items: center;
  }
}

.about__container::before {
  content: '';
  position: absolute;
  filter: blur(50px);
  background: #3cccfa;
  right: -5%;
  top: 6%;
  width: 50px;
  height: 50px;
  z-index: 9;

  @include media(desktop) {
    left: -2%;
    top: -28%;
  }
}

.about__heading {
  margin-bottom: 24px;
  @include media(desktop) {
    width: 550px;
    margin-bottom: 0px;
  }
}

.about__desc {
  @include font(18, 24);

  @include media(desktop) {
    @include font(24, 32);
  }
}

.about__img-container {
  position: relative;
}

.about__img-container::before {
  content: '';
  position: absolute;
  filter: blur(50px);
  background: #3bd20b;
  right: -4%;
  top: 16%;
  width: 50px;
  height: 50px;
  z-index: -1;

  @include media(desktop) {
    right: -1%;
    top: 38%;
  }
}
