.hero_section {
  width: 100%;
  max-width: 9999px;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url('/img/hero/mobile/phone.png') no-repeat right -112px top 80px,
    linear-gradient(52.03deg, rgb(0, 0, 0) -0.757%, rgb(157, 36, 96) 100%);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('/img/hero/mobile/phone@2x.png') no-repeat right -112px
        top 80px,
      linear-gradient(52.03deg, rgb(0, 0, 0) -0.757%, rgb(157, 36, 96) 100%);
  }

  @include media(desktop) {
    background: linear-gradient(
      52.03deg,
      rgb(0, 0, 0) -0.757%,
      rgb(157, 36, 96) 100%
    );
  }
}

.hero_container {
  padding-top: 212px;
  padding-bottom: 45px;

  background-image: url('/img/hero/mobile/cookies.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 73%;
  background-size: 97px;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('/img/hero/mobile/cookies@2x.png');
  }

  @include media(desktop) {
    padding-top: 250px;
    background-image: url('/img/hero/desktop/cookies.png');
    background-size: 554px;
    background-position-y: 32%;
    background-position-x: 91%;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('/img/hero/desktop/cookies@2x.png');
    }
  }
}
.hero_btn_wrapper {
  margin-top: 48px;

  @include media(desktop) {
    margin-top: 56px;
  }
}

.btn_link {
  text-decoration: none;
  display: inline-block;
}

.google_light {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  width: 242px;
  height: 87px;
  box-sizing: border-box;
  cursor: pointer;
}

.google_btn_text {
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(0, 0, 0);
}
.google_btn_text_small {
  @include font(16, 19);
  text-transform: uppercase;
}
.google_btn_text_large {
  font-weight: 700;
  @include font(24, 44);
}
.google_light img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.google_light:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.google_light:hover .google_btn_text {
  color: #ffffff;
}

.hero_title {
  font-family: 'DM Serif Display', serif;
  @include font(40, 55);
  font-weight: 400;
  margin-bottom: 48px;
  @include media(desktop) {
    width: 526px;

    @include font(72, 99);
    font-weight: 400;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 55px;
  }
}
.hero_title_yellow {
  background: linear-gradient(to left, #e9c001, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hero_disclaimer {
  margin-top: 104px;
  color: rgb(255, 255, 255);
  font-family: 'DM Serif Display', serif;
  @include font(24, 33);
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  @include media(desktop) {
    margin-top: 8px;
    margin-left: 732px;

    font-size: 36px;
    font-weight: 400;
    line-height: 49px;
  }
}
.hero_disclaimer_text {
  margin-top: 16px;
  color: rgb(255, 255, 255);
  @include font(16, 21);
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  @include media(desktop) {
    margin-top: 24px;
    margin-left: 732px;
    width: 550px;

    @include font(20, 26);
  }
}
