.terms_wrapper {
  padding-top: 166px;
  padding-left: 370px;
  padding-right: 370px;
  padding-bottom: 112px;
}
.terms_section {
  padding: 0;
}

.terms_title {
  color: rgb(221, 52, 136);
  @include font(32, 44);
}
.terms_text {
  color: rgb(255, 255, 255);
  @include font(20, 26);
  margin-bottom: 48px;
}
.terms_large_text {
  text-transform: uppercase;
}
